#cluster-map {
    width: 100%;
    height: 400px;
}

#mapUI {
    width: 100%;
    height: 300px;
}

#indexItem img{
    width:100%;
    /* height: 100%; */
}

#campgroundCarousel img{
    height: 300px;
}
