<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 style="text-align: center;">This is Dog Page!</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam necessitatibus rerum officia quasi, voluptatem
        eius quos provident suscipit odio ipsam veniam perspiciatis, praesentium alias debitis. Illo quis quas quia
        amet!</p>
</body>

</html>